// clearfix
@mixin clearfix {
    *zoom: 1 !important;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Center element
@mixin center() {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.panel-heading {
    h3 {
        margin: 5px 0 5px;
    }
}

.sass-panel {
    padding-top: 0;
}

.color-list {
    li {
        transition: box-shadow 0.1s ease-out;
        display: flex;
        flex-direction: row;
        margin: 0 -15px;
        padding: 0;
        background: linear-gradient(#f5f5f5, #eee);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ddd;

        &.ui-sortable-helper {
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
        }
    }

    .color-preview {
        flex: none;
        margin: 3px 6px 3px 0;
        width: 22px;
        height: 22px;
        vertical-align: middle;
        border-radius: 3px;
    }

    .color-name-input {
        flex: 1;
        margin: 2px 6px 2px 0;
        height: 24px;
    }

    .handle {
        position: relative;
        margin-right: 6px;
        flex: none;
        width: 30px;
        height: 30px;
        border-right: 1px dashed #ddd;
        cursor: move;

        &::after,
        &::before {
            content: '';
            position: absolute;
            left: 10px;
            display: block;
            width: 10px;
            height: 2px;
            background: #ccc;
        }

        &::before {
            top: 12px;
        }

        &::after {
            top: 16px;
        }
    }

    .remove-button {
        flex:none;
        width: 30px;
        height: 30px;
        border-left: 1px dashed #ddd;
        text-align: center;

        .fa {
            position: relative;
            margin-top: 7px;
            color: #ccc;
        }

        &:hover {
            .fa {
                color: #333;
            }
        }
    }
}

.panel-settings {
    @include clearfix();
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;

    .form-group {
        float: left;
        margin: 0 20px 0 0;
    }

    .input-limit {
        padding: 2px 0 2px 5px;
        width: 50px;
        height: 24px;
    }

    .input-prefix {
        padding: 2px 5px;
        width: 100px;
        height: 24px;
    }
}

// imagedrop directive
.imagedrop {
    transition: all 0.2s ease-out;
    position: relative;
    height: 400px;
    border: 2px dashed #ccc;

    .imagedrop-label-drag {
        @include center();
    }

    .imagedrop-label-drop {
        @include center();
        display: none;
    }

    &.dragging {
        background: #f5f5f5;

        .imagedrop-label-drop {
            display: block;
        }

        .imagedrop-label-drag {
            display: none;
        }
    }

    &.contains-image {
        height: auto;

        .imagedrop-label-drag,
        .imagedrop-label-drop {
            display: none;
        }
    }

    .imagedrop-loader {
        @include center();

        &::after {
            content: '';
            display: block;
            margin-top: -16px;
            margin-left: -16px;
            height: 32px;
            width:  32px;
            border-width: 4px;
            border-style: solid;
            border-radius: 100%;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.4);
            animation: clockwise 0.6s linear infinite;
        }
    }

    // Dropped image
    .imagedrop-image {
        width: 100%;
        height: auto;
        opacity: 1;
        transition: opacity 1s ease-out;

        &.loading {
            opacity: 0;
        }
    }
}

// Loading animation
@keyframes clockwise {
    to {
        transform: rotate(360deg) translateZ(0);
    }
}
