<!DOCTYPE html>
<html lang="en" ng-app="sassColorPalette">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>sass color palette</title>
    <meta name="description" content="Create a set of Sass color variables from an image.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="css/screen.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <a class="navbar-brand" href="/">Sass color palette</a>
    </nav>
    <div class="settings">
        <form class="form-inline">
            <div class="form-group">
                <label for="color-amount">Color Amount</label>
                <input type="number" id="color-amount" class="input-amount form-control" name="colorAmount" ng-model="amount" ng-value="10">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="color-autofill" class="" name="colorAutofill" ng-model="autofill"> Autofill names
                </label>
            </div>
            <div class="form-group" ng-class="{'has-error': colorForm.colorPrefix.$invalid}">
                <label for="color-prefix">Prefix</label>
                <input type="text" id="color-prefix" class="input-prefix form-control" name="colorPrefix" ng-model="colorList.prefix" ng-pattern="colorList.pattern">
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="colorList.type" name="variable-type" id="type-sass" value="$" checked>
                    Sass
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="colorList.type" name="variable-type" id="type-less" value="@">
                    Less
                </label>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="col-lg-7 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Image upload</h3>
                </div>
                <div class="panel-body">
                    <div color-amount="amount" image-drop></div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div ng-include="'src/templates/colors.html'"></div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/color-thief/dist/color-thief.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="bower_components/ngDialog/js/ngDialog.min.js"></script>
    <script src="bower_components/ntc.js/ntc.js"></script>
    <script src="dist/app.js"></script>
</body>
</html>
