<div class="settings">
    <form class="form-inline">
        <div class="form-group">
            <label for="color-amount">Color Amount</label>
            <input type="number" id="color-amount" class="input-amount form-control" name="colorAmount" ng-model="amount" ng-value="10">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="color-autofill" class="" name="colorAutofill" ng-model="autofill"> Autofill names
            </label>
        </div>
        <div class="form-group" ng-class="{'has-error': colorForm.colorPrefix.$invalid}">
            <label for="color-prefix">Prefix</label>
            <input type="text" id="color-prefix" class="input-prefix form-control" name="colorPrefix" ng-model="colorList.prefix" ng-pattern="colorList.pattern">
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="colorList.type" name="variable-type" id="type-sass" value="$" checked>
                Sass
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="colorList.type" name="variable-type" id="type-less" value="@">
                Less
            </label>
        </div>
    </form>
</div>
